<?xml version="1.0" encoding="gbk"?>

<menu>
  <_1>
    <jp>{02f0}{03f0B}{ }{ }はい{ }/{ }いいえ{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }好的{ }/{ }不了{end}</zh>
  </_1>
  <_2>
    <jp>{02f0}{03f0B}{06f07f32}ステータス一覽{06f0ffff}{end}</jp>
    <zh>{02f0}{03f0B}{06f07f32}状态一览{06f0ffff}{end}</zh>
  </_2>
  <_3>
    <jp>{02f0}{03f0B}アイテム一覽{end}</jp>
    <zh>{02f0}{03f0B}{ }物品一览{end}</zh>
  </_3>
  <_4>
    <jp>{02f0}{03f0B}研究所情報{end}</jp>
    <zh>{02f0}{03f0B}{ }研究所情报{end}</zh>
  </_4>
  <_5>
    <jp>{02f0}{03f0B}メモリーカード{end}</jp>
    <zh>{02f0}{03f0B}{ }记忆卡{end}</zh>
  </_5>
  <_6>
    <jp>{02f0}{03f0B}コンフィグ{end}</jp>
    <zh>{02f0}{03f0B}{ }设定{end}</zh>
  </_6>
  <_7>
    <jp>{02f0}{03f0B}LOAD{end}</jp>
    <zh>{02f0}{03f0B}读取{end}</zh>
  </_7>
  <_8>
    <jp>{02f0}{03f0B}SAVE{end}</jp>
    <zh>{02f0}{03f0B}存档{end}</zh>
  </_8>
  <_9>
    <jp>{02f0}{03f0B}行動の選択{end}</jp>
    <zh>{02f0}{03f0B}{ }选择行动{end}</zh>
  </_9>
  <_10>
    <jp>{02f0}{03f0B}移動先の指定{end}</jp>
    <zh>{02f0}{03f0B}移动{end}</zh>
  </_10>
  <_11>
    <jp>{02f0}{03f0B}道の探索{end}</jp>
    <zh>{02f0}{03f0B}探索道路{end}</zh>
  </_11>
  <_12>
    <jp>{02f0}{03f0B}アイテム作成{end}</jp>
    <zh>{02f0}{03f0B}制作物品{end}</zh>
  </_12>
  <_13>
    <jp>{02f0}{03f0B}ポイントへ{end}</jp>
    <zh>{02f0}{03f0B}{ }访{ }问{end}</zh>
  </_13>
  <_14>
    <jp>{02f0}{03f0B}研究所へ{end}</jp>
    <zh>{02f0}{03f0B}{ }研究所{end}</zh>
  </_14>
  <_15>
    <jp>{02f0}{03f0B}ステータス{end}</jp>
    <zh>{02f0}{03f0B}{ }查看状态{end}</zh>
  </_15>
  <_16>
    <jp>{02f0}{03f0B}アイテム{end}</jp>
    <zh>{02f0}{03f0B}{ }个人物品{end}</zh>
  </_16>
  <_17>
    <jp>{02f0}{03f0B}所持アイテム{end}</jp>
    <zh>{02f0}{03f0B}{ }所持物品{end}</zh>
  </_17>
  <_18>
    <jp>{02f0}{03f0B}装備アイテム{end}</jp>
    <zh>{02f0}{03f0B}{ }装备物品{end}</zh>
  </_18>
  <_19>
    <jp>{02f0}{03f0B}購入{end}</jp>
    <zh>{02f0}{03f0B}购入{end}</zh>
  </_19>
  <_20>
    <jp>{02f0}{03f0B}売却{end}</jp>
    <zh>{02f0}{03f0B}出售{end}</zh>
  </_20>
  <_21>
    <jp>{02f0}{03f0B}依赖{end}</jp>
    <zh>{02f0}{03f0B}委托{end}</zh>
  </_21>
  <_22>
    <jp>{02f0}{03f0B}アルバイト{end}</jp>
    <zh>{02f0}{03f0B}劳动{end}</zh>
  </_22>
  <_23>
    <jp>{02f0}{03f0B}採取{end}</jp>
    <zh>{02f0}{03f0B}采取{end}</zh>
  </_23>
  <_24>
    <jp>{02f0}{03f0B}世間話{end}</jp>
    <zh>{02f0}{03f0B}聊天{end}</zh>
  </_24>
  <_25>
    <jp>{02f0}{03f0B}戻る{end}</jp>
    <zh>{02f0}{03f0B}返回{end}</zh>
  </_25>
  <_26>
    <jp>{02f0}{03f0B}{06f07f32}土地情報{06f0ffff}{end}</jp>
    <zh>{02f0}{03f0B}{06f07f32}土地情报{06f0ffff}{end}</zh>
  </_26>
  <_27>
    <jp>{02f0}{03f0B}土地{br}-----------{wait}{end}</jp>
    <zh>{02f0}{03f0B}土地{br}-----------{wait}{end}</zh>
  </_27>
  <_28>
    <jp>{02f0}{03f0B}誰が{end}</jp>
    <zh>{02f0}{03f0B}谁{end}</zh>
  </_28>
  <_29>
    <jp>{02f0}{03f0B}作成{end}</jp>
    <zh>{02f0}{03f0B}作成{end}</zh>
  </_29>
  <_30>
    <jp>{02f0}{03f0B}行動を再選択しますか?{end}</jp>
    <zh>{02f0}{03f0B}重新选择行动？{end}</zh>
  </_30>
  <_31>
    <jp>{02f0}{03f0B}この場所でいいですか?{end}</jp>
    <zh>{02f0}{03f0B}移动到这个地方吗？{end}</zh>
  </_31>
  <_32>
    <jp>{02f0}{03f0B}{ }道の探索をしますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }开始探索道路？{end}</zh>
  </_32>
  <_33>
    <jp>{02f0}{03f0B}作成物を決定しますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }制作这个物品？{end}</zh>
  </_33>
  <_34>
    <jp>{02f0}{03f0B}{ }1日を終了しますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }结束今天的行动吗？{end}</zh>
  </_34>
  <_35>
    <jp>{02f0}{03f0B}{ }{ }{ }いいですか?{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }可以吗？{end}</zh>
  </_35>
  <_36>
    <jp>{02f0}{03f0B}{ }{ }引き受けますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }接受这个委托吗？{end}</zh>
  </_36>
  <_37>
    <jp>{02f0}{03f0B}{ }設備を外しますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }移除设备吗？{end}</zh>
  </_37>
  <_38>
    <jp>{02f0}{03f0B}{ }装備を外しますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }取下装备吗？{end}</zh>
  </_38>
  <_39>
    <jp>{02f0}{03f0B}{ }{ }{ }乗りますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }要乘坐吗？{end}</zh>
  </_39>
  <_40>
    <jp>{02f0}{03f0B}{ }倉庫に格納しますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }放回到仓库吗？{end}</zh>
  </_40>
  <_41>
    <jp>{02f0}{03f0B}{ }{ }支払いますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }支付吗？{end}</zh>
  </_41>
  <_42>
    <jp>{02f0}{03f0B}{ }{ }ロードしますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }读取存档？{end}</zh>
  </_42>
  <_43>
    <jp>{02f0}{03f0B}{ }{ }セーブしますか?{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }存档？{end}</zh>
  </_43>
  <_44>
    <jp>{02f0}{03f0B}フォーマットしますか?{end}</jp>
    <zh>{02f0}{03f0B}格式化？{end}</zh>
  </_44>
  <_45>
    <jp>{02f0}{end}</jp>
    <zh>{02f0}{end}</zh>
  </_45>
  <_46>
    <jp>{02f0}{03f0B}---------{end}</jp>
    <zh>{02f0}{03f0B}---------{end}</zh>
  </_46>
  <_47>
    <jp>{02f0}{03f0B}资金{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</jp>
    <zh>{02f0}{03f0B}资金{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</zh>
  </_47>
  <_48>
    <jp>{02f0}{03f0B}资金{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</jp>
    <zh>{02f0}{03f0B}资金{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</zh>
  </_48>
  <_49>
    <jp>{02f0}{03f0B}[money]{end}</jp>
    <zh>{02f0}{03f0B}[money]{end}</zh>
  </_49>
  <_50>
    <jp>{02f0}{03f0B}行動{br}{br}内容{end}</jp>
    <zh>{02f0}{03f0B}行动{br}{br}内容{end}</zh>
  </_50>
  <_51>
    <jp>{02f0}{03f0B}へ{end}</jp>
    <zh>{02f0}{03f0B}去{end}</zh>
  </_51>
  <_52>
    <jp>{02f0}{03f0B}個{end}</jp>
    <zh>{02f0}{03f0B}个{end}</zh>
  </_52>
  <_53>
    <jp>{02f0}{03f0B}重量{end}</jp>
    <zh>{02f0}{03f0B}重量{end}</zh>
  </_53>
  <_54>
    <jp>{02f0}{03f0B}あと{ }{ }{ }日{end}</jp>
    <zh>{02f0}{03f0B}剩余{ }{ }{ }日{end}</zh>
  </_54>
  <_55>
    <jp>{02f0}{03f0B}作成可能物{ }無し{end}</jp>
    <zh>{02f0}{03f0B}可制作物品{ }无{end}</zh>
  </_55>
  <_56>
    <jp>{02f0}{03f0B}{br}{ }{ }{ }個{ }作成しました。{end}</jp>
    <zh>{02f0}{03f0B}{br}{ }{ }{ }个{ }已作成。{end}</zh>
  </_56>
  <_57>
    <jp>{02f0}{03f0B}{br}{ }の作成に失敗しました。{end}</jp>
    <zh>{02f0}{03f0B}{br}{ }制作失败了。{end}</zh>
  </_57>
  <_58>
    <jp>{02f0}{03f0B}???{end}</jp>
    <zh>{02f0}{03f0B}？？？{end}</zh>
  </_58>
  <_59>
    <jp>{02f0}{03f0B}アイテム名{ }{ }{ }{ }{ }{ }在庫{ }{ }重量(単){end}</jp>
    <zh>{02f0}{03f0B}物品名{ }{ }{ }{ }{ }{ }{ }{ }{ }在库{ }重量(单){end}</zh>
  </_59>
  <_60>
    <jp>{02f0}{03f0B}{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }購入数{br}{end}</jp>
    <zh>{02f0}{03f0B}{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }购入数{br}{end}</zh>
  </_60>
  <_61>
    <jp>{02f0}{03f0B}{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }売却数{br}{end}</jp>
    <zh>{02f0}{03f0B}{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }出售数{br}{end}</zh>
  </_61>
  <_62>
    <jp>{02f0}{03f0B}{br}{br}{ }{ }埋蔵量{br}{ }{ }重量(単){end}</jp>
    <zh>{02f0}{03f0B}{br}{br}{ }{ }埋藏量{br}{ }{ }重量(单){end}</zh>
  </_62>
  <_63>
    <jp>{02f0}{03f0B}{br}残り埋蔵量{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }採取数{end}</jp>
    <zh>{02f0}{03f0B}{br}剩余埋藏量{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }采取数{end}</zh>
  </_63>
  <_64>
    <jp>{02f0}{03f0B}の依赖契約にょり、研究所に{end}</jp>
    <zh>{02f0}{03f0B}的委托合同签订后{end}</zh>
  </_64>
  <_65>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }が届きました。{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }送到了研究所。{end}</zh>
  </_65>
  <_66>
    <jp>{02f0}{03f0B}{br}の依赖に{06f0ff32}成功{06f0ffff}しました。{br}{br}報酬{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }個{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</jp>
    <zh>{02f0}{03f0B}{br}的委托{06f0ff32}成功{06f0ffff}了。{br}{br}报酬{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }个{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</zh>
  </_66>
  <_67>
    <jp>{02f0}{03f0B}{br}の依赖に{06f0bf32}失敗{06f0ffff}しました。{end}</jp>
    <zh>{02f0}{03f0B}{br}的委托{06f0bf32}失败{06f0ffff}了。{end}</zh>
  </_67>
  <_68>
    <jp>{02f0}{03f0B}依赖タイトル{ }{ }{ }{ }{ }{ }{ }{ }期限{ }状況{end}</jp>
    <zh>{02f0}{03f0B}委托合同{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }期限{ }状况{end}</zh>
  </_68>
  <_69>
    <jp>{02f0}{03f0B}あと{ }{ }{ }日{end}</jp>
    <zh>{02f0}{03f0B}剩余{ }{ }{ }日{end}</zh>
  </_69>
  <_70>
    <jp>{02f0}{03f0B}アイテム搬入搬出{end}</jp>
    <zh>{02f0}{03f0B}{ }物品搬入搬出{end}</zh>
  </_70>
  <_71>
    <jp>{02f0}{03f0B}{06f0bf32}{ }アイテム廢棄{06f0ffff}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}{ }物品废弃{06f0ffff}{end}</zh>
  </_71>
  <_72>
    <jp>{02f0}{03f0B}アイテムを研究所から持ち出します。{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }在庫数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }搬出数{end}</jp>
    <zh>{02f0}{03f0B}从研究所中取出物品。{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }在库数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }搬出数{end}</zh>
  </_72>
  <_73>
    <jp>{02f0}{03f0B}アイテムを研究所に収めます。{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }在庫数{br}重量{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }搬入数{end}</jp>
    <zh>{02f0}{03f0B}把物品放到研究所。{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }在库数{br}重量{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }搬入数{end}</zh>
  </_73>
  <_74>
    <jp>{02f0}{03f0B}{06f0bf32}研究所のアイテムを捨てます。{br}{06f0ffff}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }在庫数{br}重量{ }{ }{ }{ }{ }{ }{ }{ }廢棄数{br}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}把研究所的物品扔掉。{br}{06f0ffff}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }在库数{br}重量{ }{ }{ }{ }{ }{ }{ }{ }废弃数{br}{end}</zh>
  </_74>
  <_75>
    <jp>{02f0}{03f0B}{06f0bf32}所持しているアイテムを捨てます。{br}{06f0ffff}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}重量{ }{ }{ }{ }{ }{ }{ }{ }廢棄数{br}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}把持有的物品扔掉。{br}{06f0ffff}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }所持数{br}重量{ }{ }{ }{ }{ }{ }{ }{ }废弃数{br}{end}</zh>
  </_75>
  <_76>
    <jp>{02f0}{03f0B}{06f0bf32}倉庫内の在庫がいっぱいです。{br}{06f0ffff}装備を外せませんでした。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}仓库的库存已经满了。{br}{06f0ffff}无法取下装备。{wait}{end}</zh>
  </_76>
  <_77>
    <jp>{02f0}{03f0B}{06f0bf32}アイテム作成に使用中です。{br}{06f0ffff}装備を外せませんでした。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}正在用于物品制作。{br}{06f0ffff}无法取下装备。{wait}{end}</zh>
  </_77>
  <_78>
    <jp>{02f0}{03f0B}現在{br}移動力{ }{ }{ }{ }{ }…{br}積載量{ }{ }{ }{ }{ }…{br}{br}{06f0bf32}決定後は全ての持物が倉庫へ{br}格納されます。{06f0ffff}{end}</jp>
    <zh>{02f0}{03f0B}现在{br}移动力{ }{ }{ }{ }{ }…{br}装载量{ }{ }{ }{ }{ }…{br}{br}{06f0bf32}决定后全部所持物品将放回到{br}仓库。{06f0ffff}{end}</zh>
  </_78>
  <_79>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }に乗る{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }乘坐{end}</zh>
  </_79>
  <_80>
    <jp>{02f0}{03f0B}{06f0bf32}移動コマンドを選択中の為、{br}ガレージに入れません。{br}{06f0ffff}{br}移動コマンドをキャンセル{br}して下さい。{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}已选择移动命令、不能放到车{br}库。{06f0ffff}请先取消移动命令。{end}</zh>
  </_80>
  <_81>
    <jp>{02f0}{03f0B}乗り物を決定すると、{br}所持品、装備品を{06f0bf19}全て{06f0ffff}、倉庫に{br}格納しますがょろしいですか?{br}{ }{ }{ }はい{ }/{ }いいえ{end}</jp>
    <zh>{02f0}{03f0B}换乘车辆后,所持品、装备品将{br}{06f0bf19}全部{06f0ffff}放回到仓库？{br}{ }{ }{ }好的{ }/{ }不了{end}</zh>
  </_81>
  <_82>
    <jp>{02f0}{03f0B}乗り物を、倉庫に格納すると、{br}所持品、装備品も{06f0bf19}全て{06f0ffff}、倉庫に{br}格納しますがょろしいですか?{br}{ }{ }{ }はい{ }/{ }いいえ{end}</jp>
    <zh>{02f0}{03f0B}车辆放回到仓库后,{br}所持品、装备品将{06f0bf19}全部{06f0ffff}放回到仓库中？{br}{ }{ }{ }好的{ }/{ }不了{end}</zh>
  </_82>
  <_83>
    <jp>{02f0}{03f0B}{06f0bf32}倉庫内の在庫がいっぱいです。{br}{06f0ffff}倉庫へ格納できませんでした。{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}仓库的库存满了。{br}{06f0ffff}不能再放到仓库里。{end}</zh>
  </_83>
  <_84>
    <jp>{02f0}{03f0B}{06f0bf32}倉庫内の在庫がいっぱいです。{br}{06f0ffff}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}仓库的库存满了。{br}{06f0ffff}{end}</zh>
  </_84>
  <_85>
    <jp>{02f0}{03f0B}借金{ }最終目標额{br}あと{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</jp>
    <zh>{02f0}{03f0B}债款{ }最终目标额{br}剩余{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</zh>
  </_85>
  <_86>
    <jp>{02f0}{03f0B}現在の目標返済额{br}あと{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}{br}资金{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}支払额{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}{br}{06f0bf32}{ }このコマンドは、1日に{br}{ }1度しか使えません。{06f0ffff}{end}</jp>
    <zh>{02f0}{03f0B}现在的目标偿还额{br}剩余{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}{br}资金{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}支付额{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}{br}{06f0bf32}这个命令每天只能使用一次。{06f0ffff}{end}</zh>
  </_86>
  <_87>
    <jp>{02f0}{03f0B}{06f0bf32}借金返済コマンドは、1日に{br}1度しか使えません。{br}{06f0ffff}{br}日数を経過させてから、使用{br}してください。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}偿还债款命令、每天只能使用{br}一次。{06f0ffff}经过一定日数后才能再{br}次使用。{wait}{end}</zh>
  </_87>
  <_88>
    <jp>{02f0}{03f0B}このアイテムは捨てられません。{wait}{end}</jp>
    <zh>{02f0}{03f0B}这个物品无法舍弃。{wait}{end}</zh>
  </_88>
  <_89>
    <jp>{02f0}{03f0B}{br}重量{ }{ }{ }{ }{ }{ }{ }{ }{ }渡す数{br}{br}{ }{ }{ }{ }{ }{ }積載量{ }{ }{ }{ }/{br}{ }{ }{ }{ }{ }{ }所持数{ }{ }{ }{ }-{br}{br}{ }{ }{ }{ }{ }{ }積載量{ }{ }{ }{ }/{br}{ }{ }{ }{ }{ }{ }所持数{ }{ }{ }{ }+{end}</jp>
    <zh>{02f0}{03f0B}{br}重量{ }{ }{ }{ }{ }{ }{ }{ }{ }转交数{br}{br}{ }{ }{ }{ }{ }{ }装载量{ }{ }{ }{ }/{br}{ }{ }{ }{ }{ }{ }所持数{ }{ }{ }{ }-{br}{br}{ }{ }{ }{ }{ }{ }装载量{ }{ }{ }{ }/{br}{ }{ }{ }{ }{ }{ }所持数{ }{ }{ }{ }+{end}</zh>
  </_89>
  <_90>
    <jp>{02f0}{03f0B}{06f0bf32}{ }{ }{ }アイテムを渡せません。{br}{06f0ffff}相手の持物に空きを作ってください。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}{ }{ }{ }物品无法转交。{br}{06f0ffff}对方携带的物品已经满了。{wait}{end}</zh>
  </_90>
  <_91>
    <jp>{02f0}{03f0B}{06f0bf32}{ }{ }装備をはずせません。{br}{06f0ffff}持物に空きを作ってください。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}{ }{ }不能取下装备。{br}{06f0ffff}请为您的物品腾出空间。{wait}{end}</zh>
  </_91>
  <_92>
    <jp>{02f0}{03f0B}借金{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}目標{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}资金{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</jp>
    <zh>{02f0}{03f0B}债款{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}目标{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{br}资金{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{end}</zh>
  </_92>
  <_93>
    <jp>{02f0}{03f0B}マックス{end}</jp>
    <zh>{02f0}{03f0B}麦克斯{end}</zh>
  </_93>
  <_94>
    <jp>{02f0}{03f0B}ミオ{end}</jp>
    <zh>{02f0}{03f0B}米奥{end}</zh>
  </_94>
  <_95>
    <jp>{02f0}{03f0B}ベレッタ{end}</jp>
    <zh>{02f0}{03f0B}贝雷塔{end}</zh>
  </_95>
  <_96>
    <jp>{02f0}{03f0B}ピート{end}</jp>
    <zh>{02f0}{03f0B}皮特{end}</zh>
  </_96>
  <_97>
    <jp>{02f0}{03f0B}マックスの行動{end}</jp>
    <zh>{02f0}{03f0B}麦克斯的行动{end}</zh>
  </_97>
  <_98>
    <jp>{02f0}{03f0B}{ }ミオの行動{end}</jp>
    <zh>{02f0}{03f0B}米奥的行动{end}</zh>
  </_98>
  <_99>
    <jp>{02f0}{03f0B}ベレッタの行動{end}</jp>
    <zh>{02f0}{03f0B}贝雷塔的行动{end}</zh>
  </_99>
  <_100>
    <jp>{02f0}{03f0B}{ }ピートの行動{end}</jp>
    <zh>{02f0}{03f0B}皮特的行动{end}</zh>
  </_100>
  <_101>
    <jp>{02f0}{03f0B}未設定(スタミナ回復){end}</jp>
    <zh>{02f0}{03f0B}未设定(精力回复){end}</zh>
  </_101>
  <_102>
    <jp>{02f0}{03f0B}移動{end}</jp>
    <zh>{02f0}{03f0B}移动{end}</zh>
  </_102>
  <_103>
    <jp>{02f0}{03f0B}道の探索{end}</jp>
    <zh>{02f0}{03f0B}探索道路{end}</zh>
  </_103>
  <_104>
    <jp>{02f0}{03f0B}アイテム採取{end}</jp>
    <zh>{02f0}{03f0B}采取物品{end}</zh>
  </_104>
  <_105>
    <jp>{02f0}{03f0B}アイテム作成{end}</jp>
    <zh>{02f0}{03f0B}制作物品{end}</zh>
  </_105>
  <_106>
    <jp>{02f0}{03f0B}アルバイト{end}</jp>
    <zh>{02f0}{03f0B}劳动{end}</zh>
  </_106>
  <_107>
    <jp>{02f0}{03f0B}{br}{ }{ }へ移動します。{end}</jp>
    <zh>{02f0}{03f0B}{br}{ }{ }移动。{end}</zh>
  </_107>
  <_108>
    <jp>{02f0}{03f0B}{br}{ }{ }{ }個{ }入手しました。{end}</jp>
    <zh>{02f0}{03f0B}{br}{ }{ }{ }个{ }已取得。{end}</zh>
  </_108>
  <_109>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }[money]が{br}支給されました。{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }[money]{br}已经支付了。{end}</zh>
  </_109>
  <_110>
    <jp>{02f0}{03f0B}{br}{ }{ }個{ }支給されました。{end}</jp>
    <zh>{02f0}{03f0B}{br}{ }{ }个{ }已经支付了。{end}</zh>
  </_110>
  <_111>
    <jp>{02f0}{03f0B}{br}{ }{ }{ }個{ }作成中です。{end}</jp>
    <zh>{02f0}{03f0B}{br}{ }{ }{ }个{ }制作中。{end}</zh>
  </_111>
  <_112>
    <jp>{02f0}{03f0B}{ }道を{06f0ff32}発見{06f0ffff}しました。{end}</jp>
    <zh>{02f0}{03f0B}{ }{06f0ff32}发现{06f0ffff}了新的道路。{end}</zh>
  </_112>
  <_113>
    <jp>{02f0}{03f0B}道の発見に{06f0bf32}失敗{06f0ffff}しました。{end}</jp>
    <zh>{02f0}{03f0B}探索道路{06f0bf32}失败{06f0ffff}了。{end}</zh>
  </_113>
  <_114>
    <jp>{02f0}{03f0B}道が存在しませんでした。{end}</jp>
    <zh>{02f0}{03f0B}没有新的道路了。{end}</zh>
  </_114>
  <_115>
    <jp>{02f0}{03f0B}待機中です。{br}スタミナが回復。{end}</jp>
    <zh>{02f0}{03f0B}待机中。{br}回复了部分精力。{end}</zh>
  </_115>
  <_116>
    <jp>{02f0}{03f0B}倉庫{end}</jp>
    <zh>{02f0}{03f0B}进入仓库{end}</zh>
  </_116>
  <_117>
    <jp>{02f0}{03f0B}設備装備{end}</jp>
    <zh>{02f0}{03f0B}安装设备{end}</zh>
  </_117>
  <_118>
    <jp>{02f0}{03f0B}依赖確認{end}</jp>
    <zh>{02f0}{03f0B}查看委托{end}</zh>
  </_118>
  <_119>
    <jp>{02f0}{03f0B}ガレージ{end}</jp>
    <zh>{02f0}{03f0B}进入车库{end}</zh>
  </_119>
  <_120>
    <jp>{02f0}{03f0B}借金返済{end}</jp>
    <zh>{02f0}{03f0B}偿还债款{end}</zh>
  </_120>
  <_121>
    <jp>{02f0}{03f0B}持物を在庫に入れますか?{end}</jp>
    <zh>{02f0}{03f0B}把携带的物品放到仓库中？{end}</zh>
  </_121>
  <_122>
    <jp>{02f0}{03f0B}装備する{end}</jp>
    <zh>{02f0}{03f0B}装备{end}</zh>
  </_122>
  <_123>
    <jp>{02f0}{03f0B}はずす{end}</jp>
    <zh>{02f0}{03f0B}取下{end}</zh>
  </_123>
  <_124>
    <jp>{02f0}{03f0B}渡す{end}</jp>
    <zh>{02f0}{03f0B}转交{end}</zh>
  </_124>
  <_125>
    <jp>{02f0}{03f0B}捨てる{end}</jp>
    <zh>{02f0}{03f0B}舍弃{end}</zh>
  </_125>
  <_126>
    <jp>{02f0}{03f0B}{ }乗り物を選択{end}</jp>
    <zh>{02f0}{03f0B}{ }选择车辆{end}</zh>
  </_126>
  <_127>
    <jp>{02f0}{03f0B}{06f0bf32}乗り物を倉庫内へ{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}把车辆放回车库{end}</zh>
  </_127>
  <_128>
    <jp>{02f0}{03f0B}新たに借金の返済請求が來ています。{br}{br}{ }次の返済额{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{wait}{end}</jp>
    <zh>{02f0}{03f0B}新的偿还债款要求送达了。{br}{br}{ }下次还款额{ }{ }{ }{ }{ }{ }{ }{ }{ }[money]{wait}{end}</zh>
  </_128>
  <_129>
    <jp>{02f0}{03f0B}{br}に、ポイントが出現しました。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{br}出现了新的地点。{wait}{end}</zh>
  </_129>
  <_130>
    <jp>{02f0}{03f0B}{br}{br}{ }{ }に、道がつながりました。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{br}{br}{ }{ }出现了新的道路。{wait}{end}</zh>
  </_130>
  <_131>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }個{br}{ }{ }{ }{ }{ }{ }入手しました。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }{ }个{br}{ }{ }{ }{ }{ }{ }得到了。{wait}{end}</zh>
  </_131>
  <_132>
    <jp>{02f0}{03f0B}{06f0ff32}新発明!!{br}{06f0ffff}{br}{br}{br}{br}{br}{br}{ }{ }{ }作成物が增えました。{end}</jp>
    <zh>{02f0}{03f0B}{06f0ff32}新发明！！{br}{06f0ffff}{br}{br}{br}{br}{br}{br}{ }{ }{ }出现了新的物品。{end}</zh>
  </_132>
  <_133>
    <jp>{02f0}{03f0B}{06f0bf32}ロードに失敗しました。{06f0ffff}{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}读取存档失败了。{06f0ffff}{wait}{end}</zh>
  </_133>
  <_134>
    <jp>{02f0}{03f0B}{06f0bf32}セーブに失敗しました。{06f0ffff}{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}存档失败了。{06f0ffff}{wait}{end}</zh>
  </_134>
  <_135>
    <jp>{02f0}{03f0B}{06f0bf32}メモリーカードがありません。{br}{06f0ffff}メモリーカードを差してください。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}没有找到记忆卡。{br}{06f0ffff}请插入记忆卡。{wait}{end}</zh>
  </_135>
  <_136>
    <jp>{02f0}{03f0B}{06f0bf32}データが正しくありません。{br}{06f0ffff}ファイルが壞れている恐れがあります。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}存档数据不正确。{br}{06f0ffff}数据可能已经损坏。{wait}{end}</zh>
  </_136>
  <_137>
    <jp>{02f0}{03f0B}{06f0bf32}メモリーカードがフォーマット{br}されていません。{06f0ffff}{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}记忆卡格式化没有完成。{06f0ffff}{wait}{end}</zh>
  </_137>
  <_138>
    <jp>{02f0}{03f0B}{06f0bf32}フォーマットに失敗しました。{06f0ffff}{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}记忆卡格式化失败。{06f0ffff}{wait}{end}</zh>
  </_138>
  <_139>
    <jp>{02f0}{03f0B}{06f0bf32}メモリーカードが正しく動作しません。{br}{06f0ffff}メモリーカードが壞れている可能性が{br}あります。{br}他のメモリーカードを使用して下さい。{wait}{end}</jp>
    <zh>{02f0}{03f0B}{06f0bf32}记忆卡无法正常工作。{br}{06f0ffff}记忆卡可能已损坏。{br}请更换其它记忆卡。{wait}{end}</zh>
  </_139>
  <_140>
    <jp>{02f0}{03f0B}フォーマット中...{end}</jp>
    <zh>{02f0}{03f0B}格式化中...{end}</zh>
  </_140>
  <_141>
    <jp>{02f0}{03f0B}フォーマットしました。{wait}{end}</jp>
    <zh>{02f0}{03f0B}格式化完成。{wait}{end}</zh>
  </_141>
  <_142>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_142>
  <_143>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_143>
  <_144>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_144>
  <_145>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_145>
  <_146>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_146>
  <_147>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_147>
  <_148>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_148>
  <_149>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_149>
  <_150>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_150>
  <_151>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_151>
  <_152>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_152>
  <_153>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_153>
  <_154>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_154>
  <_155>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_155>
  <_156>
    <jp>{02f0}{03f0B}パトリック鉱山{end}</jp>
    <zh>{02f0}{03f0B}帕特里克矿山{end}</zh>
  </_156>
  <_157>
    <jp>{02f0}{03f0B}坑夫街{end}</jp>
    <zh>{02f0}{03f0B}矿工街{end}</zh>
  </_157>
  <_158>
    <jp>{02f0}{03f0B}ケインズ鉱山{end}</jp>
    <zh>{02f0}{03f0B}凯恩斯矿山{end}</zh>
  </_158>
  <_159>
    <jp>{02f0}{03f0B}ケインズ第二鉱山{end}</jp>
    <zh>{02f0}{03f0B}凯恩斯第二矿山{end}</zh>
  </_159>
  <_160>
    <jp>{02f0}{03f0B}廢棄場{end}</jp>
    <zh>{02f0}{03f0B}废弃场{end}</zh>
  </_160>
  <_161>
    <jp>{02f0}{03f0B}製材工場{end}</jp>
    <zh>{02f0}{03f0B}制材工场{end}</zh>
  </_161>
  <_162>
    <jp>{02f0}{03f0B}農園{end}</jp>
    <zh>{02f0}{03f0B}农园{end}</zh>
  </_162>
  <_163>
    <jp>{02f0}{03f0B}物騒な街道{end}</jp>
    <zh>{02f0}{03f0B}骚乱的街道{end}</zh>
	<todo></todo>
  </_163>
  <_164>
    <jp>{02f0}{03f0B}湖に面した農場{end}</jp>
    <zh>{02f0}{03f0B}{ }湖景农场{end}</zh>
  </_164>
  <_165>
    <jp>{02f0}{03f0B}廢棄場{end}</jp>
    <zh>{02f0}{03f0B}废弃场{end}</zh>
  </_165>
  <_166>
    <jp>{02f0}{03f0B}紡績工場{end}</jp>
    <zh>{02f0}{03f0B}纺织工场{end}</zh>
  </_166>
  <_167>
    <jp>{02f0}{03f0B}ウイッグタウン{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }威格镇{end}</zh>
	<todo></todo>
  </_167>
  <_168>
    <jp>{02f0}{03f0B}廢棄場{end}</jp>
    <zh>{02f0}{03f0B}废弃场{end}</zh>
  </_168>
  <_169>
    <jp>{02f0}{03f0B}郊外の工場{end}</jp>
    <zh>{02f0}{03f0B}郊外的工场{end}</zh>
  </_169>
  <_170>
    <jp>{02f0}{03f0B}農場{end}</jp>
    <zh>{02f0}{03f0B}农场{end}</zh>
  </_170>
  <_171>
    <jp>{02f0}{03f0B}研究所{end}</jp>
    <zh>{02f0}{03f0B}研究所{end}</zh>
  </_171>
  <_172>
    <jp>{02f0}{03f0B}トレホ{end}</jp>
    <zh>{02f0}{03f0B}特雷霍{end}</zh>
  </_172>
  <_173>
    <jp>{02f0}{03f0B}農場{end}</jp>
    <zh>{02f0}{03f0B}农场{end}</zh>
  </_173>
  <_174>
    <jp>{02f0}{03f0B}薄暗い森{end}</jp>
    <zh>{02f0}{03f0B}薄暗之森{end}</zh>
  </_174>
  <_175>
    <jp>{02f0}{03f0B}山小屋{end}</jp>
    <zh>{02f0}{03f0B}山小屋{end}</zh>
  </_175>
  <_176>
    <jp>{02f0}{03f0B}ハロゲイト{end}</jp>
    <zh>{02f0}{03f0B}哈罗盖特{end}</zh>
  </_176>
  <_177>
    <jp>{02f0}{03f0B}クロンメル{end}</jp>
    <zh>{02f0}{03f0B}克朗梅尔{end}</zh>
  </_177>
  <_178>
    <jp>{02f0}{03f0B}クロンメル研究所{end}</jp>
    <zh>{02f0}{03f0B}克朗梅尔研究所{end}</zh>
  </_178>
  <_179>
    <jp>{02f0}{03f0B}巨大倉庫群{end}</jp>
    <zh>{02f0}{03f0B}巨大仓库群{end}</zh>
  </_179>
  <_180>
    <jp>{02f0}{03f0B}郊外の住宅地{end}</jp>
    <zh>{02f0}{03f0B}郊外住宅地{end}</zh>
  </_180>
  <_181>
    <jp>{02f0}{03f0B}農園{end}</jp>
    <zh>{02f0}{03f0B}农园{end}</zh>
  </_181>
  <_182>
    <jp>{02f0}{03f0B}廢棄場{end}</jp>
    <zh>{02f0}{03f0B}废弃场{end}</zh>
  </_182>
  <_183>
    <jp>{02f0}{03f0B}海岸沿いの農場{end}</jp>
    <zh>{02f0}{03f0B}{ }沿海农场{end}</zh>
  </_183>
  <_184>
    <jp>{02f0}{03f0B}郊外の工場群{end}</jp>
    <zh>{02f0}{03f0B}郊外工场群{end}</zh>
  </_184>
  <_185>
    <jp>{02f0}{03f0B}プレストン{end}</jp>
    <zh>{02f0}{03f0B}普雷斯顿{end}</zh>
  </_185>
  <_186>
    <jp>{02f0}{03f0B}コルチェスター{end}</jp>
    <zh>{02f0}{03f0B}{ }科尔切斯特{end}</zh>
  </_186>
  <_187>
    <jp>{02f0}{03f0B}廢棄場{end}</jp>
    <zh>{02f0}{03f0B}废弃场{end}</zh>
  </_187>
  <_188>
    <jp>{02f0}{03f0B}廢棄場{end}</jp>
    <zh>{02f0}{03f0B}废弃场{end}</zh>
  </_188>
  <_189>
    <jp>{02f0}{03f0B}郊外の工場群{end}</jp>
    <zh>{02f0}{03f0B}郊外工场群{end}</zh>
  </_189>
  <_190>
    <jp>{02f0}{03f0B}ポートパトリック{end}</jp>
    <zh>{02f0}{03f0B}{ }帕特里克港{end}</zh>
  </_190>
  <_191>
    <jp>{02f0}{03f0B}ケインズ港{end}</jp>
    <zh>{02f0}{03f0B}凯恩斯港{end}</zh>
  </_191>
  <_192>
    <jp>{02f0}{03f0B}ケインズ{end}</jp>
    <zh>{02f0}{03f0B}凯恩斯{end}</zh>
  </_192>
  <_193>
    <jp>{02f0}{03f0B}船着き場{end}</jp>
    <zh>{02f0}{03f0B}{ }码头{end}</zh>
  </_193>
  <_194>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_194>
  <_195>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_195>
  <_196>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_196>
  <_197>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_197>
  <_198>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_198>
  <_199>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_199>
  <_200>
    <jp>{02f0}{03f0B}コルバ{end}</jp>
    <zh>{02f0}{03f0B}科尔巴{end}</zh>
  </_200>
  <_201>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_201>
  <_202>
    <jp>{02f0}{03f0B}ゴム林{end}</jp>
    <zh>{02f0}{03f0B}橡胶林{end}</zh>
  </_202>
  <_203>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_203>
  <_204>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_204>
  <_205>
    <jp>{02f0}{03f0B}鉱山{end}</jp>
    <zh>{02f0}{03f0B}矿山{end}</zh>
  </_205>
  <_206>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_206>
  <_207>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_207>
  <_208>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_208>
  <_209>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_209>
  <_210>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_210>
  <_211>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_211>
  <_212>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_212>
  <_213>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_213>
  <_214>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_214>
  <_215>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_215>
  <_216>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_216>
  <_217>
    <jp>{02f0}{03f0B}離れ小島{end}</jp>
    <zh>{02f0}{03f0B}{ }孤岛{end}</zh>
  </_217>
  <_218>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_218>
  <_219>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_219>
  <_220>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_220>
  <_221>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_221>
  <_222>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_222>
  <_223>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_223>
  <_224>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_224>
  <_225>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_225>
  <_226>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_226>
  <_227>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_227>
  <_228>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_228>
  <_229>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_229>
  <_230>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_230>
  <_231>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_231>
  <_232>
    <jp>{02f0}{03f0B}パトリック鉱山まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }帕特里克矿山{end}</zh>
  </_232>
  <_233>
    <jp>{02f0}{03f0B}坑夫街まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }矿工街{end}</zh>
  </_233>
  <_234>
    <jp>{02f0}{03f0B}ケインズ鉱山まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }凯恩斯矿山{end}</zh>
  </_234>
  <_235>
    <jp>{02f0}{03f0B}ケインズ第二鉱山まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }凯恩斯第二矿山{end}</zh>
  </_235>
  <_236>
    <jp>{02f0}{03f0B}廢棄場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }废弃场{end}</zh>
  </_236>
  <_237>
    <jp>{02f0}{03f0B}製材工場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }制材工场{end}</zh>
  </_237>
  <_238>
    <jp>{02f0}{03f0B}農園まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }农园{end}</zh>
  </_238>
  <_239>
    <jp>{02f0}{03f0B}物騒な街道まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }嘈杂的街道{end}</zh>
  </_239>
  <_240>
    <jp>{02f0}{03f0B}湖に面した農場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }临湖农场{end}</zh>
  </_240>
  <_241>
    <jp>{02f0}{03f0B}廢棄場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }废弃场{end}</zh>
  </_241>
  <_242>
    <jp>{02f0}{03f0B}紡績工場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }纺织工场{end}</zh>
  </_242>
  <_243>
    <jp>{02f0}{03f0B}ウイッグタウンまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }威格镇{end}</zh>
  </_243>
  <_244>
    <jp>{02f0}{03f0B}廢棄場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }废弃场{end}</zh>
  </_244>
  <_245>
    <jp>{02f0}{03f0B}郊外の工場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }郊外工场{end}</zh>
  </_245>
  <_246>
    <jp>{02f0}{03f0B}農場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }农场{end}</zh>
  </_246>
  <_247>
    <jp>{02f0}{03f0B}研究所まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }研究所{end}</zh>
  </_247>
  <_248>
    <jp>{02f0}{03f0B}トレホまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }特雷霍{end}</zh>
  </_248>
  <_249>
    <jp>{02f0}{03f0B}農場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }农场{end}</zh>
  </_249>
  <_250>
    <jp>{02f0}{03f0B}薄暗い森まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }薄暗之森{end}</zh>
  </_250>
  <_251>
    <jp>{02f0}{03f0B}山小屋まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }山小屋{end}</zh>
  </_251>
  <_252>
    <jp>{02f0}{03f0B}ハロゲイトまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }哈罗盖特{end}</zh>
  </_252>
  <_253>
    <jp>{02f0}{03f0B}クロンメルまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }克朗梅尔{end}</zh>
  </_253>
  <_254>
    <jp>{02f0}{03f0B}クロンメル研究所まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }克朗梅尔研究所{end}</zh>
  </_254>
  <_255>
    <jp>{02f0}{03f0B}巨大倉庫群まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }巨大仓库群{end}</zh>
  </_255>
  <_256>
    <jp>{02f0}{03f0B}郊外の住宅地まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }郊外住宅地{end}</zh>
  </_256>
  <_257>
    <jp>{02f0}{03f0B}農園まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }农场{end}</zh>
  </_257>
  <_258>
    <jp>{02f0}{03f0B}廢棄場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }废弃场{end}</zh>
  </_258>
  <_259>
    <jp>{02f0}{03f0B}海岸沿いの農場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }临海农场{end}</zh>
  </_259>
  <_260>
    <jp>{02f0}{03f0B}郊外の工場群まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }郊外工场群{end}</zh>
  </_260>
  <_261>
    <jp>{02f0}{03f0B}プレストンまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }普雷斯顿{end}</zh>
  </_261>
  <_262>
    <jp>{02f0}{03f0B}コルチェスターまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }科尔切斯特{end}</zh>
  </_262>
  <_263>
    <jp>{02f0}{03f0B}廢棄場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }废弃场{end}</zh>
  </_263>
  <_264>
    <jp>{02f0}{03f0B}廢棄場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }废弃场{end}</zh>
  </_264>
  <_265>
    <jp>{02f0}{03f0B}郊外の工場群まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }郊外工场群{end}</zh>
  </_265>
  <_266>
    <jp>{02f0}{03f0B}ポートパトリックまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }帕特里克港{end}</zh>
  </_266>
  <_267>
    <jp>{02f0}{03f0B}ケインズ港まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }凯恩斯港{end}</zh>
  </_267>
  <_268>
    <jp>{02f0}{03f0B}ケインズまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }凯恩斯{end}</zh>
  </_268>
  <_269>
    <jp>{02f0}{03f0B}船着き場まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }码头{end}</zh>
  </_269>
  <_270>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_270>
  <_271>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_271>
  <_272>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_272>
  <_273>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_273>
  <_274>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_274>
  <_275>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_275>
  <_276>
    <jp>{02f0}{03f0B}コルバまで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }科尔巴{end}</zh>
  </_276>
  <_277>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_277>
  <_278>
    <jp>{02f0}{03f0B}ゴム林まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }橡胶林{end}</zh>
  </_278>
  <_279>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_279>
  <_280>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_280>
  <_281>
    <jp>{02f0}{03f0B}鉱山まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }矿山{end}</zh>
  </_281>
  <_282>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_282>
  <_283>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_283>
  <_284>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_284>
  <_285>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_285>
  <_286>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_286>
  <_287>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_287>
  <_288>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_288>
  <_289>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_289>
  <_290>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_290>
  <_291>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_291>
  <_292>
    <jp>{end}</jp>
    <zh>{end}</zh>
  </_292>
  <_293>
    <jp>{02f0}{03f0B}離れ小島まで{end}</jp>
    <zh>{02f0}{03f0B}前往{ }孤岛{end}</zh>
  </_293>
  <!-- 设备说明:单行20字 -->
  <_294>
    <jp>{02f0}{03f0B}一般的な金属の精錬に必要{end}</jp>
    <zh>{02f0}{03f0B}冶炼普通金属的必需品{end}</zh>
  </_294>
  <_295>
    <jp>{02f0}{03f0B}炭素鋼ゃ合金などの特殊な金属類の{br}精錬に必要{end}</jp>
    <zh>{02f0}{03f0B}冶炼碳素钢和合金钢等特殊金属的必需品{end}</zh>
  </_295>
  <_296>
    <jp>{02f0}{03f0B}高度な技術を必要とする金属類の精錬に必要{end}</jp>
    <zh>{02f0}{03f0B}冶炼先进技术金属时的必需品{end}</zh>
  </_296>
  <_297>
    <jp>{02f0}{03f0B}液体から固形物を取り除くことができる{end}</jp>
    <zh>{02f0}{03f0B}去除液体中的固体物质{end}</zh>
  </_297>
  <_298>
    <jp>{02f0}{03f0B}沸点の違う液体が混ざった混合液から{br}一つの液体を分離する{end}</jp>
    <zh>{02f0}{03f0B}从不同沸点的混合液体中分离出一种液体{end}</zh>
  </_298>
  <_299>
    <jp>{02f0}{03f0B}遠心力を利用して重さの違う液体が混ざった{br}混合液を分離する{end}</jp>
    <zh>{02f0}{03f0B}利用离心力把包含了不同重量液体的混合液体{br}分离开来{end}</zh>
  </_299>
  <_300>
    <jp>{02f0}{03f0B}機械部品を使用した発明品を組むのに必要{end}</jp>
    <zh>{02f0}{03f0B}使用机械零件组装发明品时的必需品{end}</zh>
  </_300>
  <_301>
    <jp>{02f0}{03f0B}精密部品を使用した発明品を組むのに必要{end}</jp>
    <zh>{02f0}{03f0B}使用精密零件组装发明品时的必需品{end}</zh>
  </_301>
  <_302>
    <jp>{02f0}{03f0B}超精密部品を使用した発明品を組むのに必要{end}</jp>
    <zh>{02f0}{03f0B}使用超精密零件组装发明品时的必需品{end}</zh>
  </_302>
  <_303>
    <jp>{02f0}{03f0B}自動で布を織る機械{end}</jp>
    <zh>{02f0}{03f0B}自动的织布机器{end}</zh>
  </_303>
  <_304>
    <jp>{02f0}{03f0B}精製纸の製造{end}</jp>
    <zh>{02f0}{03f0B}精制纸的制造工具{end}</zh>
  </_304>
  <_305>
    <jp>{02f0}{03f0B}硬い物質を磨く事ができる{br}宝石などの研磨に使用する{end}</jp>
    <zh>{02f0}{03f0B}可以用来研磨坚硬物品{br}用于研磨宝石等物品{end}</zh>
  </_305>
  <_306>
    <jp>{02f0}{03f0B}燒き物を作る時に使うかまど{br}陶器類を燒くのに必要{end}</jp>
    <zh>{02f0}{03f0B}制作烧制物时使用的灶{br}烧制陶器类物品时的必需品{end}</zh>
  </_306>
  <_307>
    <jp>{02f0}{03f0B}高温高压な状態を作り出す事ができる{br}特殊な磁器類の製造に必要{end}</jp>
    <zh>{02f0}{03f0B}产生高温和高压状态{br}制作特殊瓷器类物品时的必需品{end}</zh>
  </_307>
  <_308>
    <jp>{02f0}{03f0B}ガスを高速喷出させて高温を作り出す{br}金属の溶接など使用する{end}</jp>
    <zh>{02f0}{03f0B}高速喷出燃气形成高温{br}用于焊接金属{end}</zh>
  </_308>
  <_309>
    <jp>{02f0}{03f0B}型を使用して金属などをプレスして{br}同じ物を大量に製造する機械{end}</jp>
    <zh>{02f0}{03f0B}使用模具压制金属等物品{br}能大量制造相同物品的机器{end}</zh>
  </_309>
  <_310>
    <jp>{02f0}{03f0B}設計図等の精密図画を書くのに使用する{end}</jp>
    <zh>{02f0}{03f0B}用于编写精确的图纸，如设计图纸{end}</zh>
  </_310>
  <_311>
    <jp>{02f0}{03f0B}高度な計算を自動で計算してくれる装置{end}</jp>
    <zh>{02f0}{03f0B}先进的自动计算装置{end}</zh>
  </_311>
  <_312>
    <jp>{02f0}{03f0B}真空状態ゃ高压状態を作り出す装置{end}</jp>
    <zh>{02f0}{03f0B}产生真空状态和高压状态的装置{end}</zh>
  </_312>
  <_313>
    <jp>{02f0}{03f0B}溶解液から特定の成分を分離する事が出來る{end}</jp>
    <zh>{02f0}{03f0B}从溶解液中分离出来特定成分{end}</zh>
  </_313>
  <_314>
    <jp>{02f0}{03f0B}電子部品ゃ回路の製造、検查に必要{end}</jp>
    <zh>{02f0}{03f0B}制造和检查电子零件和电路时的必需品{end}</zh>
  </_314>
  <_315>
    <jp>{02f0}{03f0B}強力な磁力を保持する磁石{br}磁力を必要とする発明品の製造が可能{end}</jp>
    <zh>{02f0}{03f0B}强磁力的磁铁{br}可用于制造需要磁力的发明品{end}</zh>
  </_315>
  <_316>
    <jp>{02f0}{03f0B}電気を使用する発明品が作成可能になる{end}</jp>
    <zh>{02f0}{03f0B}可用于制作需要电力的发明品{end}</zh>
  </_316>
  <_317>
    <jp>{02f0}{03f0B}電压を自由に变化させる事ができ{br}高電压が必要な発明品の製造が可能になる{end}</jp>
    <zh>{02f0}{03f0B}可以自由改变电压{br}可用于制造需要高电压的发明品{end}</zh>
  </_317>
  <_318>
    <jp>{02f0}{03f0B}色々な爆発物の調合に必要な情報{end}</jp>
    <zh>{02f0}{03f0B}提供各种爆炸物调合的情报{end}</zh>
  </_318>
  <_319>
    <jp>{02f0}{03f0B}ハンドルを回して使用するミシン{br}布製品の加工ができるょうになる{end}</jp>
    <zh>{02f0}{03f0B}通过转动手柄来使用的缝纫机{br}可用于加工布制品{end}</zh>
  </_319>
  <_320>
    <jp>{02f0}{03f0B}金などの金属類を蒸気化して{br}物体の表面に付着させることが出來る{end}</jp>
    <zh>{02f0}{03f0B}汽化黄金等金属物体{br}使其能够附着在物体的表面{end}</zh>
  </_320>
  <_321>
    <jp>{02f0}{03f0B}ハンダを高熱で溶かして{br}金属同士を接合する道具{end}</jp>
    <zh>{02f0}{03f0B}使用高温熔化焊锡{br}焊接金属的道具{end}</zh>
  </_321>
  <_322>
    <jp>{02f0}{03f0B}未知のエネルギーを利用して、物質を瞬時に{br}别の場所へ転送する装置{end}</jp>
    <zh>{02f0}{03f0B}利用未知的能量、把物质瞬间转移到其它场所{br}的装置{end}</zh>
  </_322>
  <_323>
    <jp>{02f0}{03f0B}謎のネコ、しゃべります{end}</jp>
    <zh>{02f0}{03f0B}谜之猫、会说话{end}</zh>
  </_323>
  <_324>
    <jp>{02f0}{03f0B}いろいろな電波を受信出來る{end}</jp>
    <zh>{02f0}{03f0B}能收到各种无线电波{end}</zh>
  </_324>
  <_325>
    <jp>{02f0}{03f0B}ジムの残した宇宙船{end}</jp>
    <zh>{02f0}{03f0B}吉姆留下的宇宙船{end}</zh>
  </_325>
  <_326>
    <jp>{02f0}{03f0B}{06f0ff32}{ }{ }Event{ }Viewer{06f0ffff}{end}</jp>
    <zh>{02f0}{03f0B}{06f0ff32}{ }{ }{ }{ }{ }{ }事件一览{06f0ffff}{end}</zh>
  </_326>
  <_327>
    <jp>{02f0}{03f0B}{ }画面の說明(チュートリアル){end}</jp>
    <zh>{02f0}{03f0B}{ }画面说明(教程){end}</zh>
  </_327>
  <_328>
    <jp>{02f0}{03f0B}コマンドの說明(チュートリアル){end}</jp>
    <zh>{02f0}{03f0B}指令说明（教程）{end}</zh>
  </_328>
  <!--
  以下事件标题每行共17个字符，要保持标题居中
  -->
  <_329>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }冒頭、教授の死{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }序幕、教授之死{end}</zh>
  </_329>
  <_330>
    <jp>{02f0}{03f0B}{ }{ }{ }ワッツ、サロンにて{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }瓦茨、客厅谈话{end}</zh>
  </_330>
  <_331>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }ワッツ再び{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }瓦茨再现{end}</zh>
  </_331>
  <_332>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }模造品{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }{ }仿制品{end}</zh>
  </_332>
  <_333>
    <jp>{02f0}{03f0B}{ }{ }カーレースから始まった夢{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }从赛车开始的梦想{end}</zh>
  </_333>
  <_334>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }機械時計と商人{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }机械钟表与商人{end}</zh>
  </_334>
  <_335>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }新型爆藥{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }新型炸药{end}</zh>
  </_335>
  <_336>
    <jp>{02f0}{03f0B}{ }{ }{ }研究所に届いた手纸{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }寄到研究所的信{end}</zh>
  </_336>
  <_337>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }{ }忠告{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }{ }忠告{end}</zh>
  </_337>
  <_338>
    <jp>{02f0}{03f0B}{ }{ }{ }デイリーサンの取材{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }太阳日报的取材{end}</zh>
  </_338>
  <_339>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }教授の過去{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }教授的过去{end}</zh>
  </_339>
  <_340>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }新たな夢{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }新的梦想{end}</zh>
  </_340>
  <_341>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }{ }国境橋から{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }从国境桥出发{end}</zh>
  </_341>
  <_342>
    <jp>{02f0}{03f0B}{ }{ }{ }爆発のエキスパート{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }爆破专家{end}</zh>
  </_342>
  <_343>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }5年後のあなたへ{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }给5年后的你{end}</zh>
  </_343>
  <_344>
    <jp>{02f0}{03f0B}{ }{ }{ }4人、力を合わせて{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }4人、齐心协力{end}</zh>
  </_344>
  <_345>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }故郷を失った4人{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }失去故乡的4人{end}</zh>
  </_345>
  <_346>
    <jp>{02f0}{03f0B}{ }{ }{ }{ }スタッフ{ }ロール{end}</jp>
    <zh>{02f0}{03f0B}{ }{ }{ }{ }{ }{ }制作人员表{end}</zh>
  </_346>
  <_347>
    <jp>{02f0}{03f0B}クリアデータのセーブ{end}</jp>
    <zh>{02f0}{03f0B}保存通关记录{end}</zh>
  </_347>
</menu>
